--extra-index-url https://download.pytorch.org/whl/cpu

# Framework web
fastapi==0.115.12
uvicorn==0.34.3

# Tipagem e validação
pydantic==2.11.5

# Machine learning e deep learning
torch==2.7.1+cpu
torchvision==0.22.1+cpu
scikit-learn==1.6.1
numpy<=1.25.2